/* assets/styles.css */

/* Common Styles */
html {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--text-color);
    background-color: var(--background-color);
}

#top-banner {
    background-color: var(--banner-background-color);
    padding: 10px 20px;
    color: var(--banner-text-color);
    font-size: 2em;
    text-align: left;
    width: 100%;
    display: flex;
    align-items: center;
}

#logo {
    width: 5%;
}

#top-banner-title {
    flex-grow: 1;
    padding-left: 10px;
}

* {
    box-sizing: border-box;
}

#main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#main-horizontal-layout {
    display: flex;
    flex: 1;
    overflow: hidden;
}

#left-column {
    flex: 1 1 25%;
    padding: 20px;
    overflow: auto;
    border-right: 1px solid var(--border-color);
}

#main-window {
    flex: 1 1 55%;
    padding: 20px;
    overflow: auto;
}

#bottom-timeline {
    flex: 0 0 auto;
    padding: 20px;
    border-top: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#button-group {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#checklist-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#annotation-tags-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#annotation-tags-container .dash-checkbox {
    display: none;
}

#annotation-tags-container label {
    background-color: var(--tag-background-color);
    color: var(--tag-text-color);
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s;
}

#annotation-tags-container label:hover {
    background-color: var(--tag-hover-background-color);
}

#annotation-tags-container input[type="checkbox"]:checked + label {
    background-color: var(--tag-hover-background-color);
    border: 2px solid var(--tag-hover-border-color);
}

#hidden-sample-data, #csv-dummy-output, #csv-test, #temporary-storage {
    display: none;
}

#mel-spectrogram, #waveform-plot {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    min-width: 10ch;
    min-height: 40px;
    cursor: pointer;
    transition: background-color 220ms ease-in-out, box-shadow 220ms ease-in-out;
}

button:hover {
    background-color: var(--button-hover-background-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

button:focus {
    outline-style: solid;
    outline-color: transparent;
    box-shadow: 0 0 0 4px var(--button-focus-border-color);
}

.modal {
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: var(--modal-background-color);
    color: var(--modal-text-color);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 5px;
}

.modal-content h2, .modal-content h4 {
    color: var(--modal-text-color);
}

.modal-content hr {
    border-top: 1px solid var(--modal-text-color);
}

#close-settings {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    margin-top: -40px;
    margin-right: -20px;
}

@media only screen and (max-width: 768px) {
    #main-content {
        flex-direction: column;
    }

    #left-column, #right-column {
        flex-basis: 100%;
    }

    #top-banner {
        font-size: 1.5em;
    }

    #audio-status, button {
        font-size: 1em;
    }
}

/* Light mode variables */
:root.light {
    --background-color: #ffffff;
    --text-color: #000000;
    --banner-background-color: #f0f0f0;
    --banner-text-color: #000000;
    --border-color: #cccccc;
    --tag-background-color: #4A76A8;
    --tag-text-color: #ffffff;
    --tag-hover-background-color: #5A8AC8;
    --tag-hover-border-color: #ffffff;
    --button-background-color: #4A76A8;
    --button-text-color: #ffffff;
    --button-hover-background-color: #5A8AC8;
    --button-focus-border-color: #3E68FF;
    --modal-background-color: #fefefe;
    --modal-text-color: #000000;
    --grid-color: #cccccc;
    --marker-line-color: #000000;
    --marker-color: tab10;
}

/* Dark mode variables */
:root.dark {
    --background-color: #171b26;
    --text-color: #ffffff;
    --banner-background-color: #333333;
    --banner-text-color: #ffffff;
    --border-color: #444444;
    --tag-background-color: #4A76A8;
    --tag-text-color: #ffffff;
    --tag-hover-background-color: #5A8AC8;
    --tag-hover-border-color: #ffffff;
    --button-background-color: #4A76A8;
    --button-text-color: #ffffff;
    --button-hover-background-color: #5A8AC8;
    --button-focus-border-color: #3E68FF;
    --modal-background-color: #202833;
    --modal-text-color: #ffffff;
    --grid-color: #444444;
    --marker-line-color: #ffffff;
    --marker-color: tab10;
}
