body {
    font-size: 1em;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
    background-color: #171b26;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Banner styling */
#top-banner {
    background-color: #333;
    padding: 10px 20px;
    color: white;
    font-size: 2em;
    text-align: left;
    width: 100%;
}

/* Main content area divided into left and right sections */
#main-horizontal-layout {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

/* Additional changes not strictly necessary, but for consistency */
#left-column, #right-column {
    flex: 1; /* This will equally divide the space for both columns */
    padding: 20px;
    display: flex;
    flex-direction: column;
}

/* If you keep the flex-basis 50% make sure no other margins or paddings are causing overflow */
#left-column, #right-column {
    flex-basis: 50%;
}

/* Project paragraph styling */
#project-info {
    margin-bottom: 20px;
}

/* List of options styling */
#options-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

/* Buttons styling */
button {
    font-size: 1em;
    margin: 5px;
    padding: 10px 20px;
}

/* Audio status text */
#audio-status {
    font-size: 1.5em;
    margin-bottom: 20px;
}

/* Correct spectrogram ID if necessary */
#mel-spectrogram {
    width: 100%; /* Full width of the right column */
    margin-bottom: 20px;
}

/* Ensure the elements fit in the respective columns */
#scatterplot-container, #file-dropdown, #checklist-container {
    flex: 1; /* Grow to fill the space in the flex container */
}

/* Additional styles to adjust the button group at the top of the right column */
#button-group, #audio-status {
    width: 100%; /* Full width to align with the right column */
    margin-bottom: 20px; /* Spacing after the button group */
    text-align: center;
}

#hidden-sample-data{
    display: none;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
    #main-content {
        flex-direction: column;
    }

    #left-column, #right-column {
        flex-basis: 100%;
    }

    #top-banner {
        font-size: 1.5em;
    }

    #audio-status, button {
        font-size: 1em;
    }
}
